[push]
    default = matching
[core]
    editor = vim
    autocrlf = input
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[alias]
    hist = !git log --pretty=format:\"%C(yellow)%h%Creset %C(magenta)%ad%Creset %C(blue)%an%Creset %C(auto)%d%Creset|%n%s\" --date=short
[user]
    name = Julien Langouët
    email = julien.langouet@etu.emse.fr
